<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ item['item_name'] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/itemStyles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<style>
.image-item{
    position: relative;

    transform: translateY(20px);
}

#bid-section{
    position: relative;

    transform: translateY(20px);
}

</style>

</head>
<body>
    <header>
        <h1><a href="/" style="text-decoration: none; color:#0073e6">CSE312 Barterplace</a></h1>
    </header>

    <main>
        <div id="highest-bid-section">
            <h2>Highest Bid: $<span id="highest-bid"> {{ highest_bid }} </span></h2>
        </div>

        <!-- Pop-up for new highest bid -->
        <div id="pop-up" style="display: none;">
            <div id="pop-up-content">
                <h2>NEW HIGHEST BID ALERT!</h2>
                <img src="{{ url_for('static', filename='images/cats-vibe.gif') }}" alt="cats-vibe" type="image/gif">
            </div>
        </div>
        <!-- End of pop-up -->

        <!--DISPLAY ITEM-->
        <div class="image-item">
            <img src="{{ url_for('static', filename=item['item_image'].replace('static/', '')) }}" alt="{{ item['item_name'] }}" id="item-button">
            <p>{{ item['item_name'] }}</p>
            <p>${{ item['item_price'] }}</p>
        </div>
        <!--DISPLAY ITEM-->


        <!-- Bidding section -->
        <div id="bid-section">
            <div id="notification-container"></div>
            {% if username %}
                <h3>Enter Your Bid</h3>
                <input type="hidden" id="item-id" value="{{ item['item_id'] }}">
                <input type="number" id="bid-input" placeholder="Enter your bid" min="1" required>
                <button type="button" id="place-bid-button" onclick="placeBid()">Place Bid</button>
            {% else %}
                <input type="hidden" id="item-id" value="{{ item['item_id'] }}">
                <p>You need to <a href="/">log in</a> to place a bid.</p>
            {% endif %}
        </div>
        <!-- End of bidding section -->



    </main>

    </html>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="/static/js/item.js"></script>

</body>
</html>