<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>FakeBook MarketPlace</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <h1>Fakebook</h1>
    <div style="width: 100%; overflow: hidden; background-color: lightblue; padding: 10px;">
        <h2 style="display: inline;">Barterplace</h2>
        <div class="search-bar">
            <form action="/search" method="GET">
                <input type="text" name="query" placeholder="Search...">
                <input type="submit" value="Search">
            </form>
        </div>
    </div>

    <!-- Show welcome message and log out button if user is logged in -->
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% if username %}
        <h3>Welcome, {{ username }}!</h3>
        <form method="POST" action="/logout">
            <input type="submit" value="Logout" class="login-box">
        </form>
    <!-- Show register and login buttons if not logged in -->
    {% else %}
        <button class="login-box" href="javascript:void(0)" id="login_button">
            Login
        </button>

    {% endif %}

    <main>
        <section class="image-grid">
            <div class="image-item">
                <img src="{{ url_for('static', filename='images/testImage.jpg') }}" alt="Item 1">
                <p>Item Name 1</p>
            </div>
            <div class="image-item">
                <img src="{{ url_for('static', filename='images/testImage.jpg') }}" alt="Item 2">
                <p>Item Name 2</p>
            </div>
            <div class="image-item">
                <img src="{{ url_for('static', filename='images/testImage.jpg') }}" alt="Item 3">
                <p>Item Name 3</p>
            </div>
            <div class="image-item">
                <img src="{{ url_for('static', filename='images/testImage.jpg') }}" alt="Item 4">
                <p>Item Name 4</p>
            </div>
            <div class="image-item">
                <img src="{{ url_for('static', filename='images/testImage.jpg') }}" alt="Item 5">
                <p>Item Name 5</p>
            </div>
            <div class="image-item">
                <img src="{{ url_for('static', filename='images/testImage.jpg') }}" alt="Item 6">
                <p>Item Name 6</p>
            </div>
            <div class="image-item">
                <img src="{{ url_for('static', filename='images/testImage.jpg') }}" alt="Item 7">
                <p>Item Name 7</p>
            </div>
            <div class="image-item">
                <img src="{{ url_for('static', filename='images/testImage.jpg') }}" alt="Item 8">
                <p>Item Name 8</p>
            </div>
            <div class="image-item">
                <img src="{{ url_for('static', filename='images/testImage.jpg') }}" alt="Item 9">
                <p>Item Name 9</p>
            </div>
            <div class="image-item">
                <img src="{{ url_for('static', filename='images/testImage.jpg') }}" alt="Item 10">
                <p>Item Name 10</p>
            </div>
            <div class="image-item">
                <img src="{{ url_for('static', filename='images/testImage.jpg') }}" alt="Item 11">
                <p>Item Name 11</p>
            </div>
            <div class="image-item">
                <img src="{{ url_for('static', filename='images/testImage.jpg') }}" alt="Item 12">
                <p>Item Name 12</p>
            </div>
        </section>
    </main>

    <!-- Dialog for Login -->
    <dialog id="login_dialog">
        <span class="close" id="close_button_login">&times;</span>
        <h2>Login</h2><br><br>
        <form action="{{ url_for('login') }}" method="POST">
            <label for="username" id="username_text">Username:</label><br>
            <input type="text" id="username_input" name="username" required><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required><br><br>
            <input type="submit" value="Login" class="submit-modal"><br><br>
            <label for="text">Don't Have an Account? <a href="javascript:void(0)" id="register_link">Register Here!</a></label>

            
        </form>
    </dialog>

    <!-- Dialog for Register -->
    <dialog id="register_dialog">
        <span class="close" id="close_button_register">&times;</span>
        <h2>Register</h2><br><br>
        <form action="{{ url_for('register') }}" method="POST">
            <label for="username" id="username_text">Username:</label><br>
            <input type="text" id="username_input" name="username" required><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password1"><br><br>
            <label for="password">Re-enter Password:</label><br>
            <input type="password" id="password" name="password2"><br><br>
            <input type="submit" value="Register" class="submit-modal"><br>
            
            
        </form>
    </dialog>


    <script src="{{ url_for('static', filename='js/functions.js') }}"></script>
</body>
</html>