<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>FakeBook MarketPlace</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <h1>Fakebook</h1>
    <div style="width: 100%; overflow: hidden; background-color: lightblue; padding: 10px;">
        <h2 style="display: inline;">Barterplace</h2>
        <div class="search-bar">
            <form action="/search" method="GET">
                <input type="text" name="query" placeholder="Search...">
                <input type="submit" value="Search">
            </form>
        </div>
    </div>

    <!-- Show welcome message and log out button if user is logged in -->
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% if auth_username %}
        <h3>Welcome, {{ auth_username }}!</h3>
        <form method="POST" action="/logout">
            <input type="submit" value="Logout" class="login-box">
        </form>
    {% else %}
        <button class="login-box" href="javascript:void(0)" id="login_button">Login</button>
    {% endif %}

    {% if auth_username %}
        <form method="POST" action="/post-item">
            <input type="image" src="/static/images/post-button.png" alt="Post Button" class="post-item">
        </form>
    {% else %}
        <input type="image" src="/static/images/post-button.png" alt="Post Button Unlogged" class="post-item" id="unlogged-post">
    {% endif %}



    <main>
        <section class="image-grid">
            {% for item in items %}
                <div class="image-item">
                    <img src="{{ item['item_image'] }}" alt="{{ item['item_name'] }}">
                    <p>{{ item['item_name'] }}</p>
                    <p>${{ item['item_price'] }}</p>

                    <!--Like/Unlike Button-->
                    {% if auth_username and auth_username in item['likes'] %}
                        <form action="/unlike" method="POST" class="like-form">
                            <input type="hidden" name="item_id" value="{{ item['item_id'] }}">
                            <input type="submit" value="💔" class="like-button">
                        </form>
                    {% else %}
                        <form action="/like" method="POST" class="like-form">
                            <input type="hidden" name="item_id" value="{{ item['item_id'] }}">
                            <input type="submit" value="❤️" class="like-button">
                        </form>
                    {% endif %}
                    <p>Likes: {{ item["like_count"] }}</p>
                    <!--End Like/Unlike Button-->

                </div>
            {% endfor %}
        </section>
    </main>

    <!-- Dialog for Login -->
    <dialog id="login_dialog">
        <span class="close" id="close_button_login">&times;</span>
        <h2>Login</h2><br><br>
        <form action="/login" method="POST">
            <label for="username" id="username_text">Username:</label><br>
            <input type="text" id="username_input" name="username" required><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required><br><br>
            <input type="submit" value="Login" class="submit-modal"><br><br>
            <label for="text">Don\'t Have an Account? <a href="javascript:void(0)" id="register_link">Register Here!</a></label>
            
        </form>
    </dialog>

    <!-- Dialog for Register -->
    <dialog id="register_dialog">
        <span class="close" id="close_button_register">&times;</span>
        <h2>Register</h2><br><br>
        <form action="/register" method="POST">
            <label for="username" id="username_text">Username:</label><br>
            <input type="text" id="username_input" name="username" required><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password1"><br><br>
            <label for="password">Re-enter Password:</label><br>
            <input type="password" id="password" name="password2"><br><br>
            <input type="submit" value="Register" class="submit-modal"><br>
            
        </form>
    </dialog>


    <script src="static/js/functions.js"></script>
</body>
</html>